	
	<%= simple_form_for @user.subscription,  :url => update_plan_path, :html => {:method => :put, :class => 'form-horizontal' } do |f| %>
		<fieldset>
			<legend>Subscription</legend>
			<p><%= link_to "View plan details", plans_path%></p>
		    <%= f.input :plan_id, :collection => Plan.all, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize + "  "}, :label => false, :item_wrapper_class => 'inline' %>

		
			<p>Remaining credits this month: <%=@user.subscription.available_credits%></p>
			<p>Credit Card ends with: <%=@user.subscription.last_4_digits%> - <a data-toggle="modal" href="#card-data" >Change card</a></p>
			
			<%if @user.subscription.available_credits <= 0%>
			  	<div class="alert alert-error %>">
			    <a class="close" data-dismiss="alert">×</a>
			    You don't have any available credits.  Please upgrade your account now.
			  	</div>
			<%end%>
						
		    <%= f.submit "Change Plan", :class => "btn btn-primary" %>
		</fieldset>
		<%if @user.subscription.last_4_digits%>

		<%end%>
<%end%>

<p>

	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
	  <%= devise_error_messages! %>

	  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	  <% end %>
	  <%= f.error_notification %>
		<fieldset>
			  <legend>User account</legend>
			  <%= f.input :email, :required => true %>
			  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
			  <%= f.input :password_confirmation, :required => false %>
			  <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
		</fieldset>

		<br/>
		<div style="display: none;">
		<% for role in User::ROLES %>
			<%if role == 'admin1' || role == 'turker1'%>

			<%else%>
			 <%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"}%>
			 <%= label_tag "user_roles_#{role}", role.humanize %><br />
			<%end%>

		<% end %>
		<%= hidden_field_tag "user[roles][]", "" %>
		</div>
		<br/>
	  <%= f.button :submit, 'Update email / password', :class => 'btn-primary' %>  
	<% end %>

</p>

<%if @user.subscription.plan.name != 'Free'%>
	<%= button_to "Cancel my subscription", update_plan_path(:plan_name=>'Free'), :data => { :confirm => "Are you sure you want to cancel your subscription?" }, :method => :put, :class => "btn-danger" %>.
<%end%>

<div id="card-data" class="modal" style="display: none;">
	  <%= simple_form_for @user.subscription, :url => update_card_path, :html => {:id => "new_subscription", :class => 'form-horizontal' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Change Card</h3>
    </div>	
    <div class="modal-body">
	  <% if @user.subscription.errors.any? %>
	    <div class="error_messages">
	      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
	      <ul>
	      <% @user.subscription.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <%= f.hidden_field :plan_id %>

	  <%= f.hidden_field :stripe_card_token %>

	  <% if @user.subscription.stripe_card_token.present? %>
	    Credit card has been provided.
	  <% else %>
	    <div class="field">
	      <%= label_tag :card_number, "Credit Card Number" %>
	      <%= text_field_tag :card_number, nil, name: nil %>
	    </div>
	    <div class="field">
	      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
	      <%= text_field_tag :card_code, nil, name: nil %>
	    </div>
	    <div class="field">
	      <%= label_tag :card_month, "Card Expiration" %>
	      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
	      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
	    </div>
	  <% end %>
	  <div id="stripe_error">
	    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
	  </div>
	</div>

    <div class="modal-footer">
	    <%= f.submit "Subscribe" %>
	  </div>
	<% end %>
	
</div>
