<h2>Calendar guesses</h2>

<table>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Location</th>
    <th>participants</th>
    <th>Description</th>
  </tr>

<% @calendar_guesses.each do |calendar_guess| %>
  <tr>
    <td><%= calendar_guess.start_time %></td>	
    <td><%= calendar_guess.end_time %></td>	
    <td><%= calendar_guess.location %></td>
    <td><%= calendar_guess.participants %></td>
    <td><%= calendar_guess.description %></td>
  </tr>
<% end %>
</table>

<br />


