<%= form_for @meeting_thread, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @meeting_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting_thread.errors.count, "error") %> prohibited this meeting_thread from being saved:</h2>

      <ul>
      <% @meeting_thread.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :headers %><br />
    <%= f.text_field :headers %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :html %><br />
    <%= f.text_field :html %>
  </div>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div>
  <div class="field">
    <%= f.label :cc %><br />
    <%= f.text_field :cc %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :attachmen_count %><br />
    <%= f.number_field :attachmen_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
