
<h2>Meetings</h2>
<p>
	<em>Email meetings@zenlike.me to have your assistant create more calendar requests.</em>
</p>

<table class = "table table-striped">
	<thead>
		<tr>
		  <th>To</th>
		  <th>CC</th>
		  <th>From</th>
		  <th>Subject</th>
		  <th></th>
		  <th></th>
		</tr>
	</thead>
	<tbody>
		<% @meeting_threads.each do |meeting_thread| %>
		  <tr>
		    <td><%= meeting_thread.to %></td>	
		    <td><%= meeting_thread.cc %></td>
		    <td><%= meeting_thread.from %></td>
		    <td><%= meeting_thread.subject %></td>
		    <td><%= link_to 'Show', meeting_thread, :class => "btn btn-mini" %></td>
		    <td><%= link_to 'Delete', meeting_thread, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
		  </tr>
		<% end %>

	</tbody>
</table>

<br />


