
<h2>Meeting threads</h2>
<p>
	Email assistant@zenlike.me to have your assistant create more calendar requests.
</p>
<table>
  <tr>
    <th>To</th>
    <th>CC</th>
    <th>From</th>
    <th>Subject</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meeting_threads.each do |meeting_thread| %>
  <tr>
    <td><%= meeting_thread.to %></td>	
    <td><%= meeting_thread.cc %></td>
    <td><%= meeting_thread.from %></td>
    <td><%= meeting_thread.subject %></td>
    <td><%= link_to 'Show', meeting_thread %></td>
    <td><%= link_to 'Edit', edit_meeting_thread_path(meeting_thread) %></td>
    <td><%= link_to 'Destroy', meeting_thread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


