<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @meeting_thread.user_id %>
</p>

<p>
  <b>Headers:</b>
  <%= @meeting_thread.headers %>
</p>

<p>
  <b>Text:</b>
  <%= @meeting_thread.text %>
</p>

<p>
  <b>Html:</b>
  <%= @meeting_thread.html %>
</p>

<p>
  <b>From:</b>
  <%= @meeting_thread.from %>
</p>

<p>
  <b>To:</b>
  <%= @meeting_thread.to %>
</p>

<p>
  <b>Cc:</b>
  <%= @meeting_thread.cc %>
</p>

<p>
  <b>Subject:</b>
  <%= @meeting_thread.subject %>
</p>

<p>
  <b>Attachmen count:</b>
  <%= @meeting_thread.attachmen_count %>
</p>


<%= link_to 'Edit', edit_meeting_thread_path(@meeting_thread) %> |
<%= link_to 'Back', meeting_threads_path %>
