<p id="notice"><%= notice %></p>


<p>
  <b>From:</b>
  <%= @meeting_thread.from %>
</p>

<p>
  <b>To:</b>
  <%= @meeting_thread.to %>
</p>

<p>
  <b>Cc:</b>
  <%= @meeting_thread.cc %>
</p>
<p>
  <b>Subject:</b>
  <%= @meeting_thread.subject %>
</p>

<p>
  <b>Text:</b>
  <%= @meeting_thread.text %>
</p>

<p>
  <b>Html:</b>
  <%= raw(@meeting_thread.html) %>
</p>


<%= render "calendar_guesses/calendar_guess_form"%>

