<p id="notice"><%= notice %></p>


<p>
  <b>From:</b>
  <%= @meeting_thread.from %>
</p>

<p>
  <b>To:</b>
  <%= @meeting_thread.to %>
</p>

<p>
  <b>Cc:</b>
  <%= @meeting_thread.cc %>
</p>
<p>
  <b>Subject:</b>
  <%= @meeting_thread.subject %>
</p>

<p>
  <%if @meeting_thread.html%>
  	<%= raw(@meeting_thread.html) %>
  <%elsif @meeting_thread.text%>
  	<%= @meeting_thread.text %>
  <%end%>
</p>

<p>


</p>


<%= render "calendar_guesses/calendar_guess_form"%>

