<div id="plans">
  <h1>Zenlike Plans</h1>
	<h3>Current Plan: 
		<%if current_user.plan %>
			<%=current_user.plan.name%>
		<%else%>
			Free
		<%end%>
	</h3>
  <% @plans.each do |plan| %>
    <div class="plan">
      <div class="name"><%= plan.name %></div>
      <div class="details">
        <div class="price">
          <%= number_to_currency plan.price, :precision => 0 %>
        </div>
        <div class="per_month">per month</div>
        <div class="credits"><%= plan.credits %> credits</div>
        <div class="per_month">per month</div>
        <div class="signup">
		  <%if current_user.subscription%>
		    <%= link_to "Change", edit_subscription_path(current_user.subscription, :plan_id => plan.id) %>
		  <%else%>
          	<%= link_to "Sign up", new_subscription_path(:plan_id => plan.id) %>
		  <%end%>

        </div>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
